<!DOCTYPE html>
<head>
  <title>AGE.AI - Age Gracefully</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='1625836360503.jpeg') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='1625836360503.jpeg') }}" class="icon" />
  <h3>AGE.AI - Age Gracefully.</h3>
  <form action="/" method="post">
    <input type="text" name="animal" placeholder="How can we help you today?" required />
    <input type="submit" value="Please Assist Me" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
